@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700.fmodaldisplay=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans', sans-serif;
}

.header__intro {
  position: relative;
  padding-top: 15px;
  z-index: 100;
}
.header {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}
.header__inputbox {
  width: 525px;
  height: 36px;
  padding: 6px 10px;
  border: 2px solid #d1d5db;
  border-radius: 6px;
  background-color: transparent;
}
.header__input {
  width: 525px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  color: #fff;
}
::placeholder {
  color: #fff;
}
.header__input:focus {
  background-color: transparent;
  outline: none;
}

.bx-search {
  color: #fff;
}
.header__sign {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-right: 25px;
  color: #fff;
}
.header__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #be123c;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carousel {
  position: absolute;
  top: 0;
}
.carusel__img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.hero__box {
  width: 404px;
  position: absolute;
  top: 50%;
  transform: translate(28%, -50%);
}
.hero__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #fff;
  margin-bottom: 16px;
}
.hero__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 25px;
}
.hero__range {
  margin-right: 34px;
}
.hero__info {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
}

.hero__link {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 18px;
  background-color: #be123c;
  border-radius: 6px;
}
.hero__link:hover {
  color: #fff;
}
.movie {
  position: relative;
}
.movie__desc {
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: #000;
}
.header__desc {
  font-weight: 700;
  font-size: 28px;
  line-height: 47px;
  color: #000;
}
.movie__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #be123c;
}
.movie__link:hover {
  color: #be123c;
}

.movie__info {
  padding: 0 40px;
  margin-bottom: 44px;
}

.movie__item {
  padding: 0 40px;
  margin-bottom: 30px;
}
.item__imgbox {
  position: relative;
  margin-bottom: 12px;
}
.movie__btns {
  position: absolute;
  width: 100%;
  top: 12px;
  padding: 0 12px;
}
.movie__tv {
  background: rgba(243, 244, 246, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 12px;
  padding: 3px 8px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #111827;
}
.movie__btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #be123c;
  color: #fff;
  transition: transform 0.4s ease;
}
.movie__btn:active {
  transform: scale(0.7);
}

.item__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.item__years {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
  color: #9ca3af;
}
.item__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111827;
  margin-bottom: 12px;
}
.item__box {
  margin-bottom: 12px;
}
.movie__imdb {
  margin-right: 10px;
}
.item__range {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #111827;
}
.bxs-star {
  margin-right: 10px;
}
.item__percent {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #111827;
}
.item__category {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #9ca3af;
}

.modal-dialog {
  max-width: 1000px;
}
.dialog {
  max-height: 1000px;
}

.video__list {
  overflow-x: hidden;
}

.video__item {
  padding: 0 20px;
}

.video__link {
  width: 100%;
  height: 253px;
}
.video__text {
  margin-top: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111827;
}

.social__item:not(:last-child) {
  margin-right: 48px;
}

.social__ikon {
  color: #111827;
  font-size: 25px;
}


.footer__item:not(:last-child) {
  margin-right: 48px;
}
.footer__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #111827;
}

.footer__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #6b7280;
}
.footer__social {
  margin-bottom: 36px;
}
.footer__list {
  margin-bottom: 36px;
}

.footer {
  margin-bottom: 50px;
}

.btn-close:hover {
  transition: all 0.6s ease;
  transform: rotate(180deg);
}

.modal__btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #be123c;
  color: #fff;
  transition: transform 0.4s ease;
}
.modal__btn:active {
  transform: scale(0.8);
}

.bxs-trash-alt {
  font-size: 18px;
}


.carousel-indicators {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.carusel-btn {
  position: relative;
  background-color: transparent !important;
  bottom: 280px;
  right: -120px;
  text-indent: 0px !important;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.carusel-btn.active::before {
  content: '';
  display: inline-block;
  position: absolute;
  right: 35px;
  top: 15px;
  width: 25px;
  height: 4px;
  background-color: #fff;
  border-radius: 6px;
}
.smodal {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.438);
  z-index: 1;
}

.smodal__main {
  height: 830px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.smodal__item {
  width: 1000px;
  max-height: 700px;
  padding: 20px 10px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#modal-list {
  max-height: 700px;
  overflow-y: scroll;
}
.filter {
  padding-left: 80px;
  margin-bottom: 60px;
}

.filter__text {
  width: 250px;
  height: 39px;
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 16px;
  color: #be123c;
}
.filter__text:focus {
  border: 1px solid #be123c;
}

.filter__text::placeholder {
  color: #be123c;
}
.filter__text:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #fa163f);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, indigo);
}

.header__scroll-down {
  position: absolute;
  bottom: 5%;
  left: 48%;
  text-decoration: none;
  z-index: 100;
}

.header__down {
  width: 13px;
  height: 13px;
  display: block;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
  margin: -8px;
  animation: animate 2s infinite;
  transition: all 0.5s linear;
}

.header__down {
  position: absolute;
  bottom: 4%;
  left: 51%;
  animation: animate 2s infinite;
  transition: all 0.5s linear;
}

.header__down:nth-child(2) {
  animation-delay: 0.2s;
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: rotate(45deg) translate(10px, 10px);
  }

  100% {
    opacity: 0;
  }
}

.header__story {
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  text-transform: uppercase;
}

.header__down-link {
  text-decoration: none;
}

.btn-slider-left {
  position: absolute;
  left: 3%;
  top: 50%;
  color: #be123c;
  border: none;
  background-color: transparent;
  z-index: 100;
}
.btn-slider-right {
  position: absolute;
  right: 3%;
  top: 48%;
  color: #be123c;
  border: none;
  background-color: transparent;
  z-index: 100;
}
.bx-chevron-left,
.bx-chevron-right {
  font-size: 50px;
}
.buttn-right {
  transform: rotate(180deg);
}
#main-list {
  transform: translateX(0);
}

#movie {
  overflow: hidden;
}